---
layout: default
---

<div class="row">
    <section class="col-9">
        <div class="title">
            <h1>Download {{page.title}} ({{page.release}}) {{page.language}} {{page.type}} {% for item in quality %}{% endfor %}</h1>
        </div>
        <article>
            <div class="card bg-body-tertiary">
                <div class="row p-3">
                    <div class="col-3">
                        <img width="200" height="300" class="" src="{{page.thumb}}" width="200" height="300" alt="{{page.title}}" />
                    </div>
                    <div class="col-9">
                        <ul>
                            <li><b>Full Name:</b> {{page.title}}</li>
                            <li><b>Language:</b> {{page.language|join:', '}}</li>
                            <li><b>Release Year:</b> {{page.release}}</li>
                            <li><b>Size:</b> {{page.size|join:', '}}</li>
                            <li><b>Quality:</b>  {{page.quality|join:', '}}</li>
                            <li><b>Format:</b> Mkv</li>
                            <li><b>Director:</b> {{page.director|join:', '}}</li>
                            <li><b>Writers:</b> {{page.writers|join:', '}}</li>
                            <li><b>Stars:</b> {{page.cast|join:', '}}</li>
                        </ul>
                    </div>
                    </div>
            </div>
            <div class="my-3">
                <h3 class="fs-3">Summary:</h3>
                <p>{{page.summary}} Lorem, ipsum.</p>
            </div>
            <div>{{content}}</div>
            <div class="tags">
                {%- for item in page.categories -%}
                <span class="badge">{{item}}</span>
                {%- endfor -%}
            </div>
        </article>
    </section>
    {% include sidebar.html %}
</div>